@import "tailwindcss";

/* elam white - #F4F4F4 */
/* green - #47BA82 */
/* drak green(for hover) - #3DA372 */
/* light green - #F6FBF8 */
/* light gray - #F8F8F8 (for bg) */

.custom-full-calendar {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 10px;
  background-color: white;
}

/* Header (month + year + arrows) */
.custom-full-calendar .react-calendar__navigation {
  font-size: 20px;
  font-weight: 600;
  background-color: #47ba82;
  color: white;
  border-radius: 8px;
}

/* Header buttons (prev/next) */
.custom-full-calendar .react-calendar__navigation button {
  color: white;
}

/* Weekday labels (Mon, Tue...) */
.custom-full-calendar .react-calendar__month-view__weekdays {
  color: #47ba82;
  font-weight: 600;
}

/* Each day cell */
.custom-full-calendar .react-calendar__tile {
  font-size: 18px;
  flex-grow: 1;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
/* tile hover */
.custom-full-calendar .react-calendar__tile:hover {
  background-color: #47ba82;
  color: white;
  border-radius: 8px;
  transform: scale(1.05); /* smooth zoom effect */
}

/* Selected day */
.custom-full-calendar .react-calendar__tile--active {
  background-color: #47ba82 !important;
  color: white !important;
  border-radius: 10px;
}
.custom-full-calendar .react-calendar__tile:active {
  transform: scale(0.95); /* pressed-down feel */
}

/* Today's date */
.custom-full-calendar .react-calendar__tile--now {
  background: rgba(71, 186, 130, 0.1);
  border: 1px solid #47ba82;
  color: #47ba82;
  border-radius: 8px;
}

/* Hover effect */
.custom-full-calendar .react-calendar__tile:hover {
  background-color: #47ba82;
  color: white;
  border-radius: 8px;
}

/* Make month view stretch */
.react-calendar__month-view {
  flex-grow: 1;
}

/* ------------------------ */

/* hide scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

/* coloring scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #47ba82;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3ea373; /* darker on hover */
}
